@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100|BioRhyme:300');
* { margin:0; padding:0; box-sizing:border-box;}
body {
	text-align: center;
	color: rgba(0,0,0,.5);
	font-family: 'BioRhyme', serif;
	font-size: 22px;
}
 header {
 	background-color: #FFED74;
 }
  nav {
  	float: right;
  	font-family: 'BioRhyme', serif;
  	font-size: 18px;
  	word-spacing: 2em;
  }
  nav a {
  	color:inherit;
  	display:inline-block;
  	padding:1em;
  }
  section {
  	/*background-color: #FFE2B8;*/
  }
  article {
  	/* background-color: #E89C6C; */
  }
  h1 {
  	font-size: 24px;
  	font-weight: normal;
  	font-family: 'BioRhyme', serif;
  	letter-spacing: .2em;
  }

  h2 {
  	font-size: 24px;
  	font-weight: normal;
  	font-family: 'BioRhyme', serif;
  	letter-spacing: .2em;
    padding-bottom: 20px;
  }

  h3 {
  	font-size: 32px;
  	font-weight: 400;
  	/*padding-top: 50px;*/
  	font-family: 'Arima Madurai', cursive;
  }

  p {
  	font-size: 22px;
/*  	padding-top: 25px;*/
  	font-family: 'BioRhyme', serif;
  	line-height: 1.2em;
  }

  a {
  	color: #fff;
  	text-decoration: none;
  }

img {
  width: 100%;
}

  .wrapper {
 	margin: 0 auto;
 	width: 1000px;
 	}

  .line1 {
  	font-weight: normal;
  	padding: 0px;
  	margin: 0px;
  }

  .line2 {
  	padding: 0px;
  	margin: 0px;
  }

  .shortpages {
	padding-top: 30px;
	padding-bottom: 30px;
	/* width: 900px; */
	margin: 2em auto;
	clear: both;
	}

/*  .pagetitles {
  	letter-spacing: .1em;
  	padding: 20px 0 20px 0;
}*/

  .logo {
	font-size: 48px;
  	font-weight: 100;
  	font-family: 'Arima Madurai', cursive;
  	letter-spacing: .25em;
  	padding-bottom: 15px;
  	line-height: 1em;
    margin-top: 50px;
  }

.tri_col	{
  	background: rgb(184, 206, 242);
  	margin: 1%;
  	width: 31.33%;
  	padding-bottom: 1em;
  	float: left;
  	text-align: center;
  }

/*.pf_thumb {
    background: pink;
    margin: 1.67%;
    width: 29%;
    padding-bottom: 1em;
    float: left;
    text-align: center;
  }*/

#intro {
	background: url("../images/sail.jpg");
	background-size: cover;
	height: 100vh;
	padding: 8em 0 0;
}
#slogan {
	padding: 20px 30px;
	display: inline-block;
	margin: 0 auto;
	margin: 50px 0 150px 0;
}
  .CTAs {
  	font-family: 'Arima Madurai', cursive;
  	font-size: 24px;
  	font-weight: 600;
  	letter-spacing: .1em;
  	background-color: rgba(255,255,255,.5);
  	padding: 5px;
  	margin: 5px;
  	display: inline-block;
  	color: inherit;
  }
.ital {
  font-style: italic;
}

.left_align{
  text-align: left;
}

   #featured {
   	padding-top: 75px;
   	text-align: center;
   	margin: auto;
   	/* background: none; */
   }
footer {
  	padding: 20px;
  	font-family: 'BioRhyme', serif;
  	background-color: none;
  }

.clearfix:after { 
	content: " "; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
  font-size: 0;
}

#two_column {
    background-color: none;
    padding: 20px;
}

#left {
    background-color: none;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: none;
    padding: 20px;
    float: right;
    width: 65%;
}

.small_font {
  font-size: 14px;
}