@import url('https://fonts.googleapis.com/css?family=Arima+Madurai:100|BioRhyme:300');
* { margin:0; padding:0; box-sizing:border-box;}
body {
	text-align: center;
	color: rgba(0,0,0,.5);
	font-family: 'BioRhyme', serif;
	font-size: 22px;
}
 header {
 	background-color: #FFED74;
 }
  nav {
  	float: right;
  	font-family: 'BioRhyme', serif;
  	font-size: .8181em;
  	word-spacing: 2em;
  }
  nav a {
  	color:inherit;
  	display:inline-block;
  	padding:1em;
  }
  section {
  	/*background-color: #FFE2B8;*/
  }
  article {
  	/* background-color: #E89C6C; */
  }
  h1 {
  	font-size: 1.0909em;
  	font-weight: normal;
  	font-family: 'BioRhyme', serif;
  	letter-spacing: .2em;
  }

  h2 {
  	font-size: 1.0909em;
  	font-weight: normal;
  	font-family: 'BioRhyme', serif;
  	letter-spacing: .2em;
    padding-bottom: 2%;
  }

  h3 {
  	font-size: 1.4545em;
  	font-weight: 400;
  	/*padding-top: 50px;*/
  	font-family: 'Arima Madurai', cursive;
  }

  p {
  	font-size: 1em;
/*  	padding-top: 25px;*/
  	font-family: 'BioRhyme', serif;
  	line-height: 1.2em;
  }

  a {
  	color: #fff;
  	text-decoration: none;
  }

img {
  width: 100%;
}

  .wrapper {
 	margin: 0 auto;
 	width: 65%;
 	}

  .line1 {
  	font-weight: normal;
  	padding: 0%/*px*/;
  	margin: 0%/*px*/;
  }

  .line2 {
  	padding: 0%/*px*/;
  	margin: 0%/*px*/;
  }

  .shortpages {
	padding-top: 3%/*0px*/;
	padding-bottom: 3%/*0px*/;
	margin: 2em auto;
	clear: both;
	}

  .logo {
	font-size: 2.1818em;
  	font-weight: 100;
  	font-family: 'Arima Madurai', cursive;
  	letter-spacing: .25em;
  	padding-bottom: 1.5%;
  	line-height: 1em;
    margin-top: 4%;
  }

.tri_col	{
  	background: rgb(184, 206, 242);
  	margin: 1%;
  	width: 31.33%;
  	padding-bottom: 1em;
  	float: left;
  	text-align: center;
  }

#intro {
	background: url("../images/sail.jpg");
	background-size: cover;
	height: 100vh;
	padding: 8em 0 0;
}
#slogan {
/*	padding: 2px 3px;*/
	display: inline-block;
	margin: 0 auto;
	margin: 3% 0 9% 0;
}
  .CTAs {
  	font-family: 'Arima Madurai', cursive;
  	font-size: 1.0909em;
  	font-weight: 600;
  	letter-spacing: .1em;
  	background-color: rgba(255,255,255,.5);
  	padding: 1.66%;
  	margin: 1.66%;
  	display: inline-block;
  	color: inherit;
  }
.ital {
  font-style: italic;
}

.left_align{
  text-align: left;
}

   #featured {
   	padding-top: 4.5%;
   	text-align: center;
   	margin: auto;
   	/* background: none; */
   }
footer {
  	padding: 20%;
  	font-family: 'BioRhyme', serif;
  	background-color: none;
  }

.clearfix:after { 
	content: " "; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;
  font-size: 0;
}

#two_column {
    background-color: none;
    padding: 2%;
}

#left {
    background-color: none;
    padding: 2%;
    float: left;
    width: 30%;
}

#right {
    background-color: none;
    padding: 2%;
    float: right;
    width: 65%;
}

.small_font {
  font-size: .6363em;
}

.p_link {
  color: rgb(59, 100, 165);
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  #two_column, .tri_col {
    float: none;
    width: auto;
  }
}

